<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>함수</h1>
	<h2>함수 선언</h2>
	<h3>선언적 함수</h3>
	<p>function키워드에 함수 명을 작성하여 사용하는 방법</p>
	<button onclick="test1();">실행확인</button>
	<script>
		function test1() {
			alert('test1()함수 실행');
		}
	</script>
	<h3>익명 함수</h3>
	<p>함수 명을 작성하지 않고 변수에 대입하는 방법</p>
	<button onclick="test2()">실행확인</button>
	<script>
		var test2 = function() {
			alert('test2()함수 실행');
		}
	</script>
	<h3>스스로 동작하는 함수</h3>
	<p>호출이 따로 필요 없음</p>
	<script>
		(function() {
			console.log('자동으로 혼자 실행');
		})();
	</script>
	
	<h2>함수 전달인자와 매개변수</h2>
	<h3>매개인자로 전달하기</h3>
	<button onclick="test3();">실행확인</button>
	<script>
		function test3() {
//			test4(prompt('메세지를 입력하세요.')); // 입력창에 입력한 값이 리턴 -> 인자로 넣어 메소드 호출
			
			test4('안녕하세요', '반갑습니다'); // 안녕하세요 출력됨
			// 지정된 매개변수보다 많은 인자를 넣어 호출하는 것을 허용함, 단 초과된 매개변수는 무시
			
			test4(); // undefined 출력됨
			// 지정된 매개변수보다 적은 인자를 넣어 호출하는 것을 허용함, 단 전달이 안된 매개변수는 undefined 
		}
		
		function test4(value) {
			console.log(value);
		}
	</script>
	
	<h3>매개인자로 스스로를 전달하기</h3>
	<p>this를 통해 전달 가능</p>
	<button onclick="test5('JavaScript');">JavaScript</button>
	<button onclick="test5('jQuery');">jQuery</button>
	<script>
		function test5(subject) {
			alert('오늘 배울 내용은 ' + subject + '입니다.');
		}
	</script>
	 
	<button onclick="test5_1(this);">JavaScript</button> <!-- this : 나 자신  -->
	<button onclick="test5_1(this);">jQuery</button>
	<script>
		function test5_1(value) {
			console.log(value);	// 누른 버튼의 코드 전체 출력됨		
			console.log(value.innerHTML); // 태그 안의 내용 가져옴
			var subject = value.innerHTML;
			alert('오늘 배울 내용은 ' + subject + '입니다.');
		}
	</script>
	
	<h3>함수의 리턴처리</h3>
	<button onclick="test6();">실행확인</button>
	<script>
		function test6(){
			var value = returnTest();
			console.log(value);
		}
	
		function returnTest(){
			return Math.floor(Math.random() * 100 + 1); // return으로 리턴값 작성
		}
	</script>
	<h3>가변인자 함수</h3>
	<p></p>
	<button onclick="test7();">실행확인</button>
	<script>
		function test7(){
			var sum1 = sumAll(11, 22, 33, 44, 55);
			var sum2 = sumAll(1, 2, 3, 4, 5, 6, 7, 8, 9, 10);
			console.log('sum1 : ' + sum1);
			console.log('sum2 : ' + sum2);
			
		}
		
		function sumAll(){
			console.log(arguments); // 가변인자 함수처럼 arguments로 매개인자에 몇 개를 넣든 다 가지고 올 수 있음
			console.log(arguments.length);
			var sum = 0;
			for (var i in arguments) {
				sum += arguments[i];
			}
			
			return(sum);
		}
	</script>
	<h3>매개변수로 함수 전달</h3>
	<button onclick="test8(calledFunction);">실행확인</button>
	<Script>
		function test8(f) {
			console.log(f);
//			for(var i = 1; i <= 10; i++) {
//				calledFunction(i);
//			}
			for(var i = 1; i <= 10; i++) {
				f(i);
			}
		}
		
		function calledFunction(i){
			console.log(i + '번째 함수 호출')
		}
	</Script>

	<h2>내장함수</h2>
	<h3>eval()</h3>
	<p>문자열을 자바스크립트 코드로 변환해 실행</p>
	계산식 : <input type="text" id="test1"><button onclick="test9();">실행확인</button><br><br>
	숫자 1 : <input type="text" id="num1"><br>
	숫자 2 : <input type="text" id="num2"><button onclick="test10();">실행확인</button>
	<script>
		function test9(){
			var result = document.getElementById('test1').value;
			console.log(result); // 1+1입력했을때 1+1 출력(문자열)
			console.log(eval(result)); // 1+1 입력했을때 2 출력(계산해서 출력)
		}
		
		function test10(){
			var testEval = '';
			testEval += 'var number1 = Number(document.getElementById("num1").value);'; // ''안의 문자열 ""로 감싸기
			testEval += 'var number2 = Number(document.getElementById("num2").value);';
			testEval += 'var sum = 0;';
			testEval += 'sum = number1 + number2;';
			testEval += 'console.log(number1 + " 더하기 " + number2 + "의 합은 " + sum + "입니다.");';
			console.log(testEval);
			eval(testEval);
		}
	</script>
	
	<h4>infinity와 NaN</h4>
	<p>
		대부분의 프로그래밍 언어는 0으로 숫자를 나누면 자동으로 오류가 발생하면서 프로그램이 종료되지만<br>
		자바스크립트는 0으로 나누면 infinity라는 값이 들어가게 되고, <br>
		자바스크립트가 표현할 수 없는 숫자는 NaN(Not a Number)로 표시
	</p>
	<button onclick="test11();">실행확인</button>
	<script>
		function test11(){
			var num1 = 10 / 0;
			var num2 = 10 / 'a';
			var num3 = -10 / 0;
			
			console.log(num1); // Infinity
			console.log(typeof num1); // Infinity의 타입 : number
			console.log(isFinite(num1)); // isFinite(유한하니?) false반환 <- Infinity(무한)라서
			console.log(num1 == Infinity); // true반환
			
			console.log(num2); // NaN
			console.log(typeof num2); // NaN의 타입 : number
			console.log(isNaN(num2)); // true반환
			console.log(num2 == NaN); // 이렇게 비교 못함(false반환) isNaN으로만 비교 가능
			
			console.log(num3); // -Infinity
			console.log(typeof num3); // number
			console.log(isFinite(num3)); // false
			console.log(num3 == Infinity); // false (양의 Infinity니?)
			console.log(num3 == -Infinity); // true (음의 Infinity니?)

		}
	</script>
</body>
</html>