<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>이벤트</h1>
	<h2>이벤트 설정 방법</h2>
	<h3>인라인 모델</h3>
	<button onclick="test1();">실행확인</button> <!-- 태그 내부에 onclick과 같은 이벤트 부여 -->
	<script>
		function test1(){
			alert('test1()이 실행되었습니다.');
		}
	</script>
	<button onclick="alert('버튼이 실행되었습니다')">실행확인</button>
	
		
	<h2>고전 이벤트 모델</h2>
	<button id="test2">test2() 실행확인</button>
	<button id="test3">test3() 실행확인</button>
	<script>
		var test2 = document.getElementById('test2');
		var test3 = document.getElementById('test3');
			
		test2.onclick = function(){
			alert('test2버튼을 실행하였습니다.');
		};
		
//		test3.onclick = function(){
//			alert('test3버튼을 실행하면서 test2이벤트를 제거하였습니다.');
////			test2.onclick = '';
//			test2.onclick = null;
//		};
		test3.onclick = test3func;
		function test3func(){
			alert('test3버튼을 실행하면서 test2이벤트를 제거하였습니다.');
			test2.onclick = null;
		}
	</script>
	
	<h4>이벤트 발생 객체</h4>
	<button id="test4">test4 실행확인</button>
	<script>
		// 버튼을 누를 때마다 버튼의 배경/글자색이 변함
		// 하양/검정 -> 검정/하양 -> 하양/검정 -> ... (반복)
		var test4 = document.getElementById('test4');
		
/*		test4.onclick = test4func;
 		var clickCount = 0;
		function test4func(){
			if (clickCount % 2 == 0) {
				test4.style.backgroundColor = 'black';
				test4.style.color = 'white';
			} else {
				this.style.backgroundColor = '';
				this.style.color = null;
			}
			clickCount++;
		} */
		
		var check = true;
		test4.onclick = function(){
			if(check){
				test4.style.backgroundColor = 'black';
				test4.style.color = 'white';
				check = false;
			} else {
				this.style.backgroundColor = null;
				this.style.color = null;
				check = true;
			}			
		}
	</script>
	
	<h3>표준 이벤트 모델</h3>
	<button id="test5">test5 실행확인</button>
	<button id="test6">test6 실행확인</button>
	<script>
		var test5 = document.getElementById('test5');
		var test6 = document.getElementById('test6');
		
		var test5ClickFunc = function(){
			console.log('test5가 클릭되었습니다.');
		}
		test5.addEventListener('click', test5ClickFunc); // test5에 이벤트 추가('click'이라는 이벤트, 이벤트에 연결할 함수)
		
		test5.addEventListener('mouseover', function(){
			console.log('test5안에 들어왔습니다.');
		});
		
		test6.addEventListener('mouseover', test6Func);
		function test6Func(){
			console.log('test6 안에 들어오면서 test5의 클릭 이벤트를 제거했습니다.');
			test5.removeEventListener('click', test5ClickFunc); // 이벤트 제거-첫번째 자리에 이벤트명, 두번째 자리에 함수명 들어가야함
		}
	</script>
	
	<h2>기본 이벤트 제거1</h2>
	<form>
		이름 : <input type="text" name="name" id="name"><br>
		아이디 : <input type="text" name="userId" id="userId"><br>
		비밀번호 : <input type="password" name="password" id="password"><br>
		비밀번호 확인 : <input type="password" name="passwordConfirm" id="passwordConfirm"><br>
		<input type="submit" value="제출" onclick="return test7();"> <!-- return값(true/false)에 따라 submit하거나/하지 않음, 함수명(); 앞에 return붙여주기 -->
		<!-- form태그에 action이 없어서 값을 넘기면서 페이지가 이동되나 자신 페이지로 이동 -->
	</form>
	<!-- 
		위 빈칸에 입력된 데이터들을 모두 가져오고 콘솔에 출력 
		비밀번호와 비밀번호 확인 값이 같으면 '비밀번호가 일치합니다' 알림창 출력
						        같지 않으면 '비밀번호가 일치하지 않습니다' 알림창 출력
	-->
	<script>
		function test7() {
			var name = document.getElementById('name').value;
			var id = document.getElementById('userId').value;
			var pwd = document.getElementById('password').value;
			var pwd2 = document.getElementById('passwordConfirm').value;
			
			console.log('name : ' + name);
			console.log('userId : ' + id);
			console.log('password :' + pwd);
			console.log('passwordConfrim : ' + pwd2);
					
			if (pwd == pwd2) {
				alert('비밀번호가 일치합니다');
				return true;
			} else {
				alert('비밀번호가 일치하지 않습니다');
				document.getElementById('passwordConfirm').select(); // 선택되게 만듦
				return false;
			}
		} 
	</script>
	
	<h2>기본 이벤트 제거2</h2>
	<form onsubmit="return test8();">
		이름 : <input type="text" name="name2" id="name2"><br>
		아이디 : <input type="text" name="userId2" id="userId2"><br>
		비밀번호 : <input type="password" name="password2" id="password2"><br>
		비밀번호 확인 : <input type="password" name="passwordConfirm2" id="passwordConfirm2"><br>
		<input type="submit" value="제출">
	</form>
	<!-- 
		위 빈칸에 입력된 데이터들을 모두 가져오고 콘솔에 출력 
		비밀번호와 비밀번호 확인 값이 같으면 '비밀번호가 일치합니다' 알림창 출력
						        같지 않으면 '비밀번호가 일치하지 않습니다' 알림창 출력
	-->
	<script>
		function test8() {
			var name = document.getElementById('name2').value;
			var id = document.getElementById('userId2').value;
			var pwd = document.getElementById('password2').value;
			var pwd2 = document.getElementById('passwordConfirm2').value;
			
			console.log('name : ' + name);
			console.log('userId : ' + id);
			console.log('password :' + pwd);
			console.log('passwordConfrim : ' + pwd2);
					
			if (pwd == pwd2) {
				alert('비밀번호가 일치합니다');
				return true;
			} else {
				alert('비밀번호가 일치하지 않습니다');
				document.getElementById('passwordConfirm2').select();
				return false;
			}
		} 
	</script>	
</body>
</html>