<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>정규표현식</h1>
	<h2>정규표현식 객체 생성</h2>
	<button onclick="test1();">확인하기</button>
	<script>
		function test1(){
			// 정규식 변수 생성1
//			var regExp = new RegExp('script'); // new키워드로 만드는 방법1
//			var regExp = new RegExp(/script/); // new키워드로 만드는 방법2
//			var regExp = 'script'; // X (정규식이 아닌 string으로 인식)
			var regExp = /script/; // 정규식 일반 변수로 만들기
			
			var str = 'javascript jquery ajax';
			// test() : str안에 정규표현식 문자가 있다면  true, 없다면 false;
			console.log(regExp.test(str)); // true
			// exec() : str안에 정규표현식 문자가 없으면 null, 있으면 배열반환
			console.log(regExp.exec(str)); // 배열 반환
			console.log(str.match(regExp)); // 배열 반환 (exec()의 역할)
		}
	</script>

	<h2>$&, $`, $'</h2>
	<button onclick="test2();">실행확인</button>
	<script>
		function test2(){
			var regExp = /as/;
			var str = 'javascript jquery ajax sass';
			
			console.log(str.replace(regExp, '($&)')); // 제일 처음 일치하는 문자열/ jav(as)cript jquery ajax sass
			console.log(str.replace(regExp, '($`)')); // 매칭된 문자열의 앞 문자열/ jav(jav)cript jquery ajax sass
			console.log(str.replace(regExp, "($')")); // 매칭된 문자열의 뒤 문자열/ jav(cript jquery ajax sass)cript jquery ajax sass
		}
	</script>
	
	<h2>()와 |</h2>
	<p>여러 문자열 중 해당하는 것을 검색하기 위해 (str1|str2|str3)식으로 사용
	<button onclick="test3();">실행확인</button>
	<script>
		function test3(){
			var src = ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일'];
			
//			var regExp = /(금요일|토요일|일요일)/;
			var regExp = /(금|토|일)요일/;
			for (var i in src) {
				console.log(src[i] + " : " + regExp.test(src[i]));
			}
			
		}
	</script>
	
	<h2>플래그 문자</h2>
	<button onclick="test4();">실행확인</button>
	<script>
		function test4(){
			var regExp0 = /a/;
			var regExp1 = /a/g; // g(global) : 전역 비교 수행 
			var regExp2 = /a/i; // i : 대소문자 가리지 않고 비교
			var regExp3 = /a/gi; // 전역비교 + 대소문자 가리지 않고 비교
			
			var str = 'jAvaScript JQurey Ajax\nJavaScript JQuery Ajax';
			
			console.log(regExp0 + " : " + str.replace(regExp0, '($&)'));
			// /a/ : jAv(a)Script JQurey Ajax JavaScript JQuery Ajax
			// 제일 처음 일치하는 문자열
			console.log(regExp1 + " : " + str.replace(regExp1, '($&)')); 
			// /a/g : jAv(a)Script JQurey Aj(a)x J(a)v(a)Script JQuery Aj(a)x
			// 플래그 문자 g로 인해 전역 검사
			console.log(regExp2 + " : " + str.replace(regExp2, '($&)')); 
			// /a/i : j(A)vaScript JQurey Ajax JavaScript JQuery Ajax
			console.log(regExp3 + " : " + str.replace(regExp3, '($&)'));
			// /a/gi : j(A)v(a)Script JQurey (A)j(a)x J(a)v(a)Script JQuery (A)j(a)x
			
		}
	</script>
	
	<h2>앵커문자</h2>
	<button onclick="test5();">실행확인</button>
	<script>
		function test5(){
			var str = "JavaScript\nJQurey\nAjax";
			
			var regExp1 = /^j/gi; // ^ : 문자열 맨 앞 (j로 시작)// g문자 전역 비교의 의미가 없어짐
			console.log(regExp1 + " : " + str.replace(regExp1, '($&)'));
			// /^j/gi : (J)avaScript JQurey Ajax
			
			var regExp2 = /^j/gim; // m : 여러 줄 검사
			console.log(regExp2 + " : " + str.replace(regExp2, '($&)'));
			// /^j/gim : (J)avaScript (J)Qurey Ajax
			
			var str2 = "JavaScript\nJQurey\nShellScript\nAjax";
			
			var regExp3 = /ipt$/gi; // $ : 문자열 뒤 (ipt로 끝나는 문자열)// 전역 비교 의미x
			console.log(regExp3 + " : " + str2.replace(regExp3, '($&)'));
			// /ipt$/gi : JavaScript JQurey ShellScript Ajax
			
			var regExp3 = /ipt$/gim; // 여러 줄 검사 기능 추가
			console.log(regExp3 + " : " + str2.replace(regExp3, '($&)'));
			// /ipt$/gim : JavaScr(ipt) JQurey ShellScr(ipt) Ajax
		}
	</script>
	
	<h2>수량문자</h2>
	<button onclick="test6();">실행확인</button>
	<script>
		function test6(){
			var src = 'aabc abc bc';
			
			var regExp1 = /a*b/g;
			// a* : a가 0개 이상
			// a*b : a가 0개 이상이면서 뒤에 b ==> b, ab, aab, aaab, aabb
			console.log(regExp1 + " : " + src.replace(regExp1, '($&)'));
			// /a*b/g : (aab)c (ab)c (b)c
			
			var regExp2 = /a+b/g;
			// a+ : a가 1개 이상
			// a+b : a가 1개 이상이면서 뒤에b ==> ab, aab, aabb
			console.log(regExp2 + " : " + src.replace(regExp2, '($&)'));
			// /a+b/g : (aab)c (ab)c bc
			
			var regExp3 = /a?b/g;
			// a? : a가 0개 또는 1개
			// a?b : a가 0개 또는 1개이면서 뒤에 b ==> b, ab
			console.log(regExp3 + " : " + src.replace(regExp3, '($&)'));
			// /a?b/g : a(ab)c (ab)c (b)c
		}
	</script>
	
	<h3>{}를 이용한 수량표현</h3>
	<button onclick="test7();">실행확인</button>
	<script>
		function test7(){
			var src = 'AA ABA ABBA ABBBA';
			
			// a{5}		: a가 5개
			// a{2, 5}	: a가 2~5개
			// a{2,}	: a가 2개 이상
			// a{,2}	: a가 2개 이하
			
			var regExp1 = /AB*A/g;
			console.log(regExp1 + " : " + src.replace(regExp1, '($&)'));
			// /AB*A/g : (AA) (ABA) (ABBA) (ABBBA)
			var regExp1_1 = /AB{0,}A/g;
			console.log(regExp1_1 + " : " + src.replace(regExp1_1, '($&)'));
			// /AB{0,}A/g : (AA) (ABA) (ABBA) (ABBBA)
			
			var regExp2 = /AB+A/g;
			console.log(regExp2 + " : " + src.replace(regExp2, '($&)'));
			var regExp2_1 = /AB{1,}A/g;
			console.log(regExp2_1 + " : " + src.replace(regExp2_1, '($&)'));
			
			var regExp3 = /AB?A/g;
			console.log(regExp3 + " : " + src.replace(regExp3, '($&)'));
			var regExp3_1 = /AB{0,1}A/g;
			console.log(regExp3_1 + " : " + src.replace(regExp3_1, '($&)'));
			
			
			
		}
	</script>
	
	<h2>메타문자와 []</h2>
	<button onclick="test8();">실행확인</button>
	<script>
		function test8(){
			var str1 = 'JavaScript JQurey Ajax';
			
			var regExp1 = /[aj]/gi; // a와 j를 찾아서 체크
			console.log(regExp1 + " : " + str1.replace(regExp1, '($&)'));
			// /[aj]/gi : (J)(a)v(a)Script (J)Qurey (A)(j)(a)x
			var regExp2 = /[^aj]/gi; // []안의 ^는 시작이 아니라 제외를 의미
			console.log(regExp2 + " : " + str1.replace(regExp2, '($&)'));
			// /[^aj]/gi : Ja(v)a(S)(c)(r)(i)(p)(t)( )J(Q)(u)(r)(e)(y)( )Aja(x)
			
			var str2 = '123JavaScript';
			
			var regExp3 = /[a-z]/g; // 소문자 체크
			console.log(regExp3 + " : " + str2.replace(regExp3, '($&)'));
			// /[a-z]/g : 123J(a)(v)(a)S(c)(r)(i)(p)(t)
			
			var regExp4 = /[A-Z]/g; // 대문자 체크
			console.log(regExp4 + " : " + str2.replace(regExp4, '($&)'));
			// /[A-Z]/g : 123(J)ava(S)cript
			
			var regExp5 = /[0-9]/g; // 숫자 체크
			console.log(regExp5 + " : " + str2.replace(regExp5, '($&)'));
			// /[0-9]/g : (1)(2)(3)JavaScript
			
			var regExp6 = /[a-z0-9]/g; // 소문자, 숫자 체크
//			var regExp6 = /[a-z,0-9]/g; // 쉼표 넣어도 ok
			console.log(regExp6 + " : " + str2.replace(regExp6, '($&)'));
			// /[a-z0-9]/g : (1)(2)(3)J(a)(v)(a)S(c)(r)(i)(p)(t)
		}
	</script>
	
	<h3>추가 메타문자</h3>
	<button onclick="test9();">실행확인</button>
	<button onclick="test9_1();">실행확인</button>
	<script>
		function test9(){
			var src = 'A1 B2 c3 d_4 e:5` ffGG77--__--	가\n나\n다';
			
			var regExp1 = /\d/g; // 숫자만 체크
			console.log(regExp1 + " : " + src.replace(regExp1, '($&)'));
			
			var regExp2 = /\w/g; // 영어(알파벳 대/소문자), 숫자, _
			console.log(regExp2 + " : " + src.replace(regExp2, '($&)'));
			
			var regExp3 = /\s/g; // 공백문자(띄어쓰기, tab, 줄바꿈)에 체크
			console.log(regExp3 + " : " + src.replace(regExp3, '($&)'));
			
			var regExp4 = /\D/g; // 숫자를 제외한 전부 체크
			console.log(regExp4 + " : " + src.replace(regExp4, '($&)'));
			
			var regExp5 = /\W/g; // 숫자, 영어, _ 빼고
			console.log(regExp5 + " : " + src.replace(regExp5, '($&)'));
			
			var regExp6 = /\S/g; // 공백문자(띄어쓰기, tab, 줄바꿈) 빼고
			console.log(regExp6 + " : " + src.replace(regExp6, '($&)'));
		}
		
		function test9_1() {
			var src = 'A1 B2 c3 d_4 e:5` ffGG77--__--	가\n나\n다';
			
			var regExp1 = /[0-9]/g; // 숫자만 체크
			console.log(regExp1 + " : " + src.replace(regExp1, '($&)'));
			
			var regExp2 = /[0-9A-Za-z_]/g; // 영어(알파벳 대/소문자), 숫자, _
			console.log(regExp2 + " : " + src.replace(regExp2, '($&)'));
			
			var regExp3 = /[\s\t\n]/g; // 공백문자(띄어쓰기, tab, 줄바꿈)에 체크
//			var regExp3 = /[ 	\n]/g;
			console.log(regExp3 + " : " + src.replace(regExp3, '($&)'));
			
			var regExp4 = /[^0-9]/g;; // 숫자를 제외한 전부 체크
			console.log(regExp4 + " : " + src.replace(regExp4, '($&)'));
			
			var regExp5 = /[^0-9A-Za-z_]/g; // 숫자, 영어, _ 빼고
			console.log(regExp5 + " : " + src.replace(regExp5, '($&)'));
			
			var regExp6 = /[^\s\t\n]/g; // 공백문자(띄어쓰기, tab, 줄바꿈) 빼고
			console.log(regExp6 + " : " + src.replace(regExp6, '($&)'));
		}
	</script>
	
	<h2>Escaping</h2>
	<button onclick="escape();">실행확인</button>
	<script>
		function escape(){
			var src = '$12$ \\-\\ $25$';
			
			var regExp1 = /$/; // $ : 문자열 끝
			console.log(regExp1 + " : " + src.replace(regExp1, '($&)'));
			// /$/ : $12$ \-\ $25$()		
			var regExp2 = /\$/; // $를 찾고 싶으면 앞에 \ 이스케이핑문자 추가/ 제일 처음 일치하는 $ 찾음
			console.log(regExp2 + " : " + src.replace(regExp2, '($&)'));
			// /\$/ : ($)12$ \-\ $25$		
			var regExp3 = /\$/g; // $ 전역에서 찾기
			console.log(regExp3 + " : " + src.replace(regExp3, '($&)'));		
			var regExp4 = /\$$/; // 맨 뒤에 있는 $ 찾기
			console.log(regExp4 + " : " + src.replace(regExp4, '($&)'));			
			var regExp5 = /\\/g; // 모든 \ 찾기
			console.log(regExp5 + " : " + src.replace(regExp5, '($&)'));
		}
	</script>
	
	<h2>포인트</h2>
	<button onclick="point();">실행확인</button>
	<script>
		function point(){
			var regExp1 = /a.b/; // . 하나는 문자 하나를 의미
			console.log(regExp1 + " (ab) : " + regExp1.test('ab')); // false
			console.log(regExp1 + " (a와b) : " + regExp1.test('a와b')); // true
			console.log(regExp1 + " (a또는b) : " + regExp1.test('a또는b')); // false
			console.log(regExp1 + " (a b) : " + regExp1.test('a b')); // true
			
			var regExp2 = /xy./; // xy뒤에 문자 하나 있으면 true (문자 여러개 와도 ok)
			console.log(regExp2 + " (xyz) : " + regExp2.test('xyz')); // true
			console.log(regExp2 + " (xy야호) : " + regExp2.test('xy야호')); // true
			console.log(regExp2 + " (xy) : " + regExp2.test('xy')); // false
			
			var regExp3 = /in.$/; // in뒤에 문자 하나로 끝나야함 (문자 여러개 오면x)
			console.log(regExp3 + " (going) : " + regExp3.test('going')); // true
			console.log(regExp3 + " (inner) : " + regExp3.test('inner')); // true
		}
	</script>
	
	<h2>예제</h2>
	<h3>주민등록번호</h3>
	<input type="text" id="ssn"> <button onclick='validate();'>실행확인</button>
	<script>
		function validate(){
			// 유효한 주민등록번호인지 확인
			// 유효하면 '정상 입력' 알림창, 유요하지 않으면 '잘못 입력' 알림창

			//   --월   -성별
			// 000114-1223456
			// --  --일
			// 연도
			
			/*
				생년 = ^\d{2}
				생월 = (0[1-9]|1[0-2]) // 십의 자리 0,1 / 십의 자리가 0일때 일의 자리 1~9, 십의자리가 1일때 일의 자리 0~2까지 가능
				생일 = (0[1-9]|[12][0-9]|3[0-1]) // 연도별 달에 해당하는 일수 안에 들어와야함
			
				성별 = [1-4] // 또는 [1234]
				나머지 = \d{6}$
			*/
			var regExp = /^\d{2}(0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[01])-[1-4]\d{6}$/;
			
			var pno = document.getElementById('ssn').value;
				
			if (regExp.test(pno)) {
				alert('정상 입력');
			} else {
				alert('잘못 입력');
			}
			
			// select박스 number박스?를 통해 생년 생월 생일 따로 받는 것이 좋음
			
		}
	</script>
</body>
</html>