<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<style>
	.input{width: 150px;}
</style>
</head>
<body>
	<h2>Practice3</h2>
	<form>
		<fieldset>
			<legend>회원가입</legend>
			<label for="id">아이디 : </label><input type="text" id="id" class="input" onkeyup="checkId();">
			<span id="existId"></span><br><br>
			<label for="pwd1">비밀번호 : </label><input type="password" id="pwd1" class="input" onblur="checkPwd()">
			<br><br>
			<label for="pwd2">비밀번호 확인 : </label><input type="password" id="pwd2" class="input" onblur="checkPwd()">
			<span id="equalPwd"></span><br><br>
			<label for="name">이름 : </label><input type="text" id="name" class="input">
			<br><br>
			<!-- <input type="submit" value="회원가입" onclick="return enroll();"> -->
			<input type="button" value="회원가입" onclick="enroll();">
		</fieldset>
	</form>
	<script>
		var existId = document.getElementById('existId');
		var equalPwd = document.getElementById('equalPwd');
		
		function checkId() {
			var inputId = document.getElementById('id').value.trim();

			
			var check = checkUser(inputId);
			
			if (inputId == '' || inputId.length == 0) {
				existId.innerHTML = '';
			} else if (check != 1) {
				existId.innerHTML = ' 사용가능한 아이디입니다.';
				existId.style.color = 'green';
				existId.value = 'success'; // 대신 전역변수 하나 만들어서 true니 false값 줘도 됨
			} else {
				existId.innerHTML = ' 이미 존재하는 아이디입니다.';
				existId.style.color = 'red';
				existId.value = 'fail';
			}		

		}
		
		function checkUser(inputId) {
			var userId = 'user01';
			if (inputId == userId) {
				return 1;
			} else {
				return 0;
			}

		}

		function checkPwd() {
			var inputPwd = document.getElementById('pwd1').value;
			var inputPwd2 = document.getElementById('pwd2').value;
//			var result = document.getElementById('result2');
			
			if (inputPwd == inputPwd2) {
				equalPwd.innerHTML = ' 비밀번호가 일치합니다.'
				equalPwd.style.color = 'green';
				equalPwd.value = 'success';
			} else {
				equalPwd.innerHTML = ' 비밀번호가 일치하지 않습니다.'
				equalPwd.style.color = 'red';
				equalPwd.value = 'fail';
			}
			
			if (inputPwd2 == '' || inputPwd2.length == 0) {
				equalPwd.innerHTML = '';
			}
		}
		
/* 		function checkPwd2() {
			var inputPwd = document.getElementById('pwd1').value;
			var inputPwd2 = document.getElementById('pwd2').value;
			
			if (inputPwd != inputPwd2) {
				return 1;
			}
		} */

		function enroll() {
			var id = document.getElementById('id');
			var pwd1 = document.getElementById('pwd1');
			var pwd2 = document.getElementById('pwd2');
			var name = document.getElementById('name');
//			var checkPwd = checkPwd2(); 
			// 위 변수들 전역변수로 선언 및 초기화(값 할당)해서 이용하는 것이 편함
			
			if (id.value.trim() == '' || id.value.length == 0) {
				alert('아이디를 입력해주세요.');
				id.focus();
			} else if (pwd1.value == '' || pwd1.value.length == 0) {
				alert('비밀번호를 입력해주세요.');
				pwd1.focus();
			} else if (pwd2.value == '' || pwd2.value.length == 0) {
				alert('비밀번호 확인을 입력해주세요.');
				pwd2.focus();
			} else if (name.value == '' || name.value.length == 0) {
				alert('이름을 입력해주세요.');
				name.focus();
			} else if (existId.value == 'fail') {
				alert ('사용할 수 없는 아이디입니다.')
				id.value = '';
				id.focus();
			} else if (equalPwd.value == 'fail' || pwd1.value != pwd2.value) {
				alert ('비밀번호가 일치하지 않습니다.')
				pwd2.value = '';
				pwd2.focus();
			} else {
				alert(name.value + '님, 회원가입이 성공적으로 완료되었습니다^^');
 				id.value = ''; // button 타입일시 필요/ submit타입일시 필요x
				pwd1.value = '';
				pwd2.value = '';
				name.value = ''; 
				existId.innerHTML = ''; // 아이디와 비밀번호확인 옆 span영역도 비워줌
				equalPwd.innerHTML = '';
//				return true; // submit타입일시 필요
			}
//			return false; // submit타입일시 필요
		}
	</script>
</body>
</html>